body {
    padding: 30px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    font-size: 14px;
    font-family: sans-serif;
    overflow: scroll; /* Show scrollbars */
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #666;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    text-transform: lowercase;
}
h4{
    margin-bottom: 5px;
}

p {
    line-height: 1.4em;
    color: #333;
    margin-top: 0;
}

ul, ol{
    padding-left: 0;
}

li{
    list-style-position: inside;
    list-style-type: square;
    color: #333;
    margin-bottom: 5px;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    margin-top: 30px;
}

ul.posts { 
    margin: 20px auto 0px;
}

ul.posts li {
    list-style: none;
    color: #ccc;
    margin-bottom: 0px;
}

ul.posts li a{
    text-transform: lowercase;
}

ul.tools { 
    margin: 20px auto 0px;
}

ul.tools li {
    list-style: none;
    color: #ccc;
}

ul.tools li a{
    text-transform: lowercase;
}

#results-container{
    margin-top: 15px;
}

#results-container li a{
    text-transform: lowercase;
}

code {
    background: #333;
    padding: 10px;
    color: #00ffcf;
    display: block;
    overflow: auto;
    white-space : pre-wrap !important;
}

p > code, li > code{
    display: inline;
    padding: 2px 5px;
    white-space: nowrap;
    font-size: 0.9em;
}

img{
    width: 100%;
}

blockquote {
    border-left: solid 5px #00ffa9;
    margin-left: 0;
    padding-left: 15px;
    font-style: italic;
}

hr {
    background: #eee;
    border: none;
    height: 2px;
    width: 100%;
    display: block;
    margin: 30px 0 30px;
}