<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">$ whoami</a></li>
					<li><a href="/notes">$ grep notes</a></li>
					<li><a href="/writeups">$ ls writeups</a></li>
					<li><a href="/tools">$ ls tools</a></li>
					<li><a target="_blank" href="https://github.com/parity0x1/scripts">$ ./scripts</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a target="_blank" href="mailto:paritybit@tutanota.com">email</a></li>
	        		<li><a target="_blank" href="https://github.com/parity0x1">github.com/parity0x1</a></li>
				</ul>
			</footer>
		</body>
	</html>